body {
  background-image: url("/src/assets/images/background.png");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 64px;
  /* display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  flex-direction: column; */
}

.btn-demo:hover {
    transform: translateY(-5px);
    border: 1px solid#E67E22 !important;
    transition: 0.3s ease-in-out;
}

.btn-order {
    background-color: #E67E22 !important;
    color: white !important;
    border: 1px solid #E67E22 !important;
}

.btn-order:hover {
    background-color: orange !important;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

.img-profile:hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-5px);
}

.btn-profile-dev {
    border: none !important;
}

.sponsors-logo img:hover {
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

@media(max-width: 768px) {
    .btn-profile-dev {
        margin-top: 30% !important;
        border: none;
    }

    .title {
        font-size: 30px;
    }

    .sponsors-logo img {
        margin-top: 20px !important;
    }
}